.inner {
    width: 70%;
    margin: 0 auto;
}
.input-area {
    min-height: 200px;
    padding: 3vmin;
    background: white;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.20);
    border-radius: 8px;
    margin-top: -10%;
    margin-bottom: 6vh;
}
.input-area textarea{
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    width: 100%;
    padding: 1.5vmin;
    box-sizing: border-box;
}
.input-area h5 {
    margin: 2vh 0 2vh 1vmin;
}
/* ul */
.input-area ul {
  margin: 0;
  padding-left: 1vw;
}
.input-area ul li {
  list-style: none;
}
#id_inputType {
    margin-bottom: 1vh;
}
#id_inputType li {
    display: inline-block;
    margin-right: 20px;
}
#id_categorys {
    margin: 3vh 0;
}
#id_categorys li {
    line-height: 4vh;
}
.statement {
    padding-left: 1vw;
    line-height: 2.5vh;
    font-weight: bold;
}

.input-area input[type="submit"] {
    height: 7vh;
    width: 7vw;
    min-width: 120px;
    text-align: center;
    line-height: 38px;
    background-image: linear-gradient(131deg, #52BCFF 0%, #1750E6 100%);
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 3vmin;
    margin: 3vh 1vw 0;
}
div.button-area {
    margin: 3vh 0;
    padding-left: 1vw;
    height: 4vh;
}

/* input file */
.input-area .upload, .input-area input[type="file"]{
    width: 15vw;
    height: inherit;
}

.input-area input[type="file"] {
    opacity: 0;
    position: absolute;
}

.input-area .upload {
    background: #F8F8F8;
    border: 1px solid #EBEBEB;
    font-size: 1.6vmin;
    color: #1751E7;
    text-align: center;
    display: inline-block;
}

#clear_btn {
    opacity: 0;
    position: absolute;
}

#clear_btn, #clear_div {
    width: 5vw;
    height: inherit;
    margin-left: 1vw;
}
.doc p {
    text-indent: 3vw;
    font-size: 3vmin;
    text-align: justify;
}
.doc a {

}

/*================*/
/*---------------Index--------------*/
.intro {
    font-size: 2.5vmin;
    line-height: 4vh;
    padding: 8vh 0;
    /*把下面两行删了就没阴影了*/
    /*box-shadow: 0 0 16px 0 rgba(0,0,0,0.20);*/
    /*padding: 50px;*/
}
.intro h3
 {
    margin-top: 5vh;
    font-size: 3.5vmin;
}
.intro h4 {
    margin: 4vh 0 2vh 0 ;
    font-size: 3vmin;
}
.intro img {
    width: 80%;
    margin: 0 10% 8vh;
}

.intro t1 {
    display: block;
}
.intro .title {
    font-size: 4.5vmin;
    position: relative;
    padding-left: 5vh;
}
.intro .title:before {
    content: '';
    position: absolute;
    width: 2vh;
    height: 4.5vh;
    left: 0;
    top: 0;
    background-color: #1751E7;
}

