/*=======================*/
/* ------------top-------------------*/
.top {
    background-image: url(../imgs/topbg.jpg);
    background-size: 100% 100%;
    height: 60%;
}
.top .header {
    padding: 3% 50px;
}
.top h1 {
    font-size: 5.5vh;
    color: white;
    /*line-height: 70px;*/
    width: 70%;
    margin: 3% auto 3% auto;
}

/*.top {*/
/*    padding: 30px 40px;*/
/*    background-color:  #1751E7;*/
/*}*/
/*.top span {*/
/*    font-size: 24px;*/
/*    color: white;*/
/*    vertical-align: 10px;*/
/*    padding-left: 45px;*/
/*}*/


/*================*/
/*-----------footer-------------*/
.footer {
    font-size: 16px;
    text-align: center;
    color: #757575;
    line-height: 40px;
    padding: 30px 0;
}
.footer a:link {text-decoration:none;}
.footer a:active {color: red; }
.footer a:visited {color:blue;text-decoration:none;}
.footer a:hover {color: red; text-decoration:underline;}
/*=========================*/
@media (max-width: 480px) {
.inner {
    min-width: auto;
    width: 95%;
}
}