/*=======================*/
/* ------------top-------------------*/
.top {
    background-image: url(../imgs/topbg.jpg);
    background-size: 100%;
    height: 60%;
}
.top .header {
    padding: 3% 10%;
}
.top h1 {
    font-size: 5vh;
    color: white;
    /*line-height: 70px;*/
    width: 70%;
    margin: 3% auto 3% auto;
}

a#aidd_logo {
    margin-left: 2%;
}
#ghddi_logo img {
    width: 10%;
}
#aidd_logo img {
    width: 9%;
    padding-bottom: 0.22%;
}

/*.top {*/
/*    padding: 30px 40px;*/
/*    background-color:  #1751E7;*/
/*}*/
/*.top span {*/
/*    font-size: 24px;*/
/*    color: white;*/
/*    vertical-align: 10px;*/
/*    padding-left: 45px;*/
/*}*/

/*----------public-----------*/
html {
    height: 100%;
    min-width: 800px;
    font-size: 62.5%
}
body {
    height: 100%;
}

.top a {
  text-decoration: none;
  color: inherit;
}
/*清楚浮动*/
.clearfix {
  zoom: 1;
  margin: 0;
  padding: 0;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
  height: 0
}
textarea:focus {
    outline: none;
}


.crumbs {
    /*width: 830px;*/
    width: 70%;
    margin: 0 auto;
}
.crumbs .service-type-items a li{
    /*width: 200px;*/
    /* model 选择框宽度 */
    width: calc(33% - 1vmin);
    height: 5vmin;
    /* line-height: 32px; */
    margin-left: 1.5vmin;
    font-size: 3vmin;
    box-sizing: border-box;
    float: left;
    border: 2px solid rgba(255,255, 255, 0.75);
    border-radius: 8px;
    text-align: center;
    background: transparent;
    color: rgba(255,255, 255, 0.75);
    list-style: none;
}
.crumbs .service-type-items a li.active{
    background: #1751E7;
    color: white;
    border-color: white;
}
.crumbs .service-type-items a:nth-child(1) li{
    margin-left: 0;
}


/*================*/
/*-----------footer-------------*/
.footer {
    font-size: 2vh;
    text-align: center;
    color: #757575;
    line-height: 5vh;
    padding: 6vh 0;
}
.footer a:link {text-decoration:none;}
.footer a:active {color: red; }
.footer a:visited {color:blue;text-decoration:none;}
.footer a:hover {color: red; text-decoration:underline;}
/*=========================*/
@media (max-width: 480px) {
    .inner {
        min-width: auto;
        width: 95%;
    }
}