html {
    height: 100%;
}
body {
    height: 100%;
    min-width: 800px;
    background-color: #F7F8FA;
}

body a {
  text-decoration: none;
  color: inherit;
}
/*清楚浮动*/
.clearfix {
  zoom: 1
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
  height: 0
}
textarea:focus {
    outline: none;
}


/*-----------result-------*/
.shadow {
    /*width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px 5px #ccc;*/
    width: 70%;
    height: auto;
    margin: -3.5% auto 0px auto;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    background-color: white;
}



/*.top {*/
/*    padding: 30px 40px;*/
/*    background-color:  #1751E7;*/
/*}*/
/*.top span {*/
/*    font-size: 24px;*/
/*    color: white;*/
/*    vertical-align: 10px;*/
/*    padding-left: 45px;*/
/*}*/

button.return{
    background-image: linear-gradient(0deg, #EFF6FB 0%, #FFFFFF 60%);
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    height: 6vh;
    width: 8vw;
    line-height: 6vh;
    box-sizing: border-box;
    font-size: 2.5vh;
    margin-left: 1%;
}

.content {
    padding: 4% 1%;
    height: auto;
}
/*.content h3 {*/
/*    margin-top: 60px;*/
/*    margin-bottom: 25px;*/
/*}*/

.table-container {
    overflow: auto;
}

div.category-block {
    margin-bottom: 1.5%;
}

div.category-content {
  background: #1C6EA4;
  border-bottom: 2px solid;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}

table.score thead{
    display:none;
}

table.score th, table.score td {
    width: 50%;
    text-align: left;
}

table.smiles-info th, table.smiles-info td {
    min-width: 7vw;
}

div.smiles-radar {
    float: right;
}

p.druglike-score {
    margin-left: 65%;
    margin-top: 0;
}
.main-block {
	width: 96%;
	padding: 1%;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	border-radius: 7px;
	margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.index-block{
    margin-bottom: 1%;
    font-size: 1.5vw;
    background-color: #1C6EA4;
    padding-left: 1%;
    border-radius: 7px;
    color: #FFFFFF;
    overflow: auto;
    width: 18%;
    text-align: center;
}

