html {
    height: 100%;
}
body {
    height: 100%;
    min-width: 800px;
    background-color: #F7F8FA;
}

body a {
  text-decoration: none;
  color: inherit;
}
/*清楚浮动*/
.clearfix {
  zoom: 1
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
  height: 0
}
textarea:focus {
    outline: none;
}


/*-----------result-------*/
.shadow {
    /*width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px 5px #ccc;*/
    width: 70%;
    height: auto;
    margin: -3.5% auto 0px auto;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    background-color: white;
}



/*.top {*/
/*    padding: 30px 40px;*/
/*    background-color:  #1751E7;*/
/*}*/
/*.top span {*/
/*    font-size: 24px;*/
/*    color: white;*/
/*    vertical-align: 10px;*/
/*    padding-left: 45px;*/
/*}*/

button.return{
    background-image: linear-gradient(0deg, #EFF6FB 0%, #FFFFFF 60%);
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    height: 6vh;
    width: 8vw;
    line-height: 6vh;
    box-sizing: border-box;
    font-size: 2.5vh;
    margin-left: 1%;
}

.content {
    padding: 4% 1%;
    height: auto;
}
/*.content h3 {*/
/*    margin-top: 60px;*/
/*    margin-bottom: 25px;*/
/*}*/

.table-container {
    overflow: auto;
}

div.category-block {
    margin-bottom: 1.5%;
}

div.category-content {
  background: #1C6EA4;
  border-bottom: 2px solid;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 2.5vmin;
}

/*table.score thead{*/
/*    display:none;*/
/*}*/

table.score th, table.score td {
    width: 33%;
    text-align: left;
}

table.smiles-info th, table.smiles-info td {
    min-width: 7vw;
}

div.smiles-radar {
    float: right;
}

.main-block {
	/*width: 96%;*/
	padding: 1%;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	border-radius: 7px;
	margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.index-block{
    margin-bottom: 1%;
    font-size: 1.5vw;
    background-color: #1C6EA4;
    padding-left: 1%;
    border-radius: 7px;
    color: #FFFFFF;
    overflow: auto;
    width: 18%;
    text-align: center;
}

.druglike-score {
    position: relative;
    margin-left: 65%;
	margin-bottom: 2%
}


/********************************/

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: help;
    /* Triangle */
}
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    display: inline-table;
}
[data-tooltip]:before {
    content: attr(data-tooltip);
    position: absolute;
    width: 10vw;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(28 110 164 / 80%);
    color: white;
    text-align: left;
    font-size: 1vw;
}
[data-tooltip]:after {
    position: absolute;
    bottom: calc(100% + 3px);
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid rgb(28 110 164 / 80%);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

@media (min-width: 480px) {
    [data-tooltip].tooltip--left:before {
        top: 55%;
        left: 0%;
        -webkit-transform: translate(-100%, -50%);
        transform: translate(-100%, -50%);
        margin-left: -7px;
    }
    [data-tooltip].tooltip--left:after {
        bottom: 45%;
        left: calc(0% - 2px);
        -webkit-transform: translate(0%, 50%);
        transform: translate(0%, 50%);
        margin-left: -5px;
        border-left: 5px solid rgb(28 110 164 / 80%);
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}