{#   {% extends "resultPublic.html" %}#}
{#   {% block tables %}#}
{#    {% if exactMapTable is not None and scaffoldMapTable is not None %}#}
{#            {% load django_tables2 %}#}
{#            <h3>exact map</h3>#}
{#            {% render_table exactMapTable %}#}
{#            <h3>scaffolds map</h3>#}
{#            {% render_table scaffoldMapTable %}#}
{#    {% endif %}#}
{#   {% endblock %}#}

{% extends "resultPublic.html" %}
{% block retTables %}
    {% if exactMapTable is not None and scaffoldMapTable is not None %}
        {% load django_tables2 %}
           <div class="main-block">
                <div class="index-block">
                    <b>exact map</b>
                </div>
                <div class="table-block">
                    {% render_table exactMapTable %}
                </div>
            </div>
            <div class="main-block">
                <div class="index-block">
                    <b>scaffolds map</b>
                </div>
                <div class="table-block">
                    {% render_table scaffoldMapTable %}
                </div>
            </div>
        <script>
          drawAllResultSmiles()
        </script>
    {% endif %}
    {% if invalidInputTable is not None %}
        <h3>invalid input</h3>
        <div class="main-block">
        {% load django_tables2 %}
        {% render_table invalidInputTable %}
        </div>
    {% endif %}
{% endblock %}