{% extends "publicTopAndFooter.html" %}
{% block custom-css-script %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static  "css/index.css" %} ">
<link rel="stylesheet" type="text/css" href="{% static  "css/alert.css" %} ">

    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block content %}
<div class="inner intro">

    <div class="input-area">
        <form  enctype="multipart/form-data" action="service/prediction/submit/" method="post" name="dataForm"
            onsubmit="return checkAllInput()">
            {% csrf_token %}
            {{ inputForm.inputType }}
            {{ inputForm.inputStr }}
            <div class="button-area">
                {{ inputForm.uploadInputFile }}
                <div class="upload" id="inputFileName">Select input file(*.csv,*.xls, *.xlsx)</div>
                <input type="button" id="clear_btn" value="Clear"
                   onclick="this.form.inputStr.value='';
                           this.form.uploadInputFile.outerHTML=this.form.uploadInputFile.outerHTML;
                           document.getElementById('inputFileName').innerText='Select input file(*.csv,*.xls, *.xlsx)';">
                <div class="upload" id="clear_div">Clear</div>
            </div>
            {{ inputForm.modelTypes }}
                <h5> Please upload the pdb file </h5>
            <div class="button-area">

                {{ inputForm.uploadPDBFile }}
                <div class="upload" id="pdbFileName">Select PDB file</div>
            </div>
            {{ inputForm.outputType }}
            <input type="submit" value="submit"/>
        </form>
    </div>

    <div class="title">Model Documentation</div>
    <h3>Structure based (none-docking) AI model</h3>
    <t1>The structure based AI model was constructed based on GHDDI developed HAG-net. The model was trained based on all existing drug targets 3D information and their related biochemical data for up to 2 million molecules. The model is universal for all targets with 3D structures. The model was evaluated using benchmark set DUD.E with average AUC of 0.99, after removal of computer generated decoys, the model shows an average AUC of 0.94 over 2 million protein-ligand interactions of over 200 protein targets which outperforms the state-of-the-art virtual screening tools. Given a target 3D structure, preferably the binding pocket with a radius of 15 Å, and screening library SMILES list as input, we are able to screen all 10K compounds in 4 minutes, which is exponentially faster than traditional docking tools. </t1>

    {% load static %}
    <img class="" src="{% static "imgs/structure_based_index.png" %}" width="100%">
</div>
{% endblock %}