{% extends "publicTopAndFooter.html" %}
{% block custom-css-script %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static  "css/index.css" %} ">
<link rel="stylesheet" type="text/css" href="{% static  "css/alert.css" %} ">

    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block content %}
<div class="inner intro">

    <div class="input-area">
        <b class="statement">To systematically assess the structure based model properties:</b>
        <p class="statement">1. Please paste your SMILES list or upload a file here.</p>
        <form  enctype="multipart/form-data" action="service/prediction/submit/" method="post" name="dataForm"
            onsubmit="return checkAllInput()">
            {% csrf_token %}
            {{ inputForm.inputType }}
            {{ inputForm.inputStr }}
            <div class="button-area">
                {{ inputForm.uploadInputFile }}
                <div class="upload" id="inputFileName">Select input file(*.csv,*.xls, *.xlsx)</div>
                <input type="button" id="clear_btn" value="Clear"
                   onclick="this.form.inputStr.value='';
                           this.form.uploadInputFile.outerHTML=this.form.uploadInputFile.outerHTML;
                           document.getElementById('inputFileName').innerText='Select input file(*.csv,*.xls, *.xlsx)';">
                <div class="upload" id="clear_div">Clear</div>
            </div>
            <p class="statement">2. Select 1 or more model kinds listed below.</p>
                {{ inputForm.modelTypes }}
            <div id="pdbFileDiv">
            <p class="statement">3. Please upload a pdb file here.</p>
                <div class="button-area">
                    {{ inputForm.pdbFileType }}
                    {{ inputForm.uploadPDBFile }}
                    <div class="upload" id="pdbFileName">Select PDB file</div>
                </div>
                <div class="pdbXYZ" style="display: block">
                    <a>x</a>
                    {{ inputForm.cx }}
                    <a>y</a>
                    {{ inputForm.cy }}
                    <a>z</a>
                    {{ inputForm.cz }}
                </div>
            </div>
            <p class="statement">4. Select the output report type.</p>
            {{ inputForm.outputType }}
            <input type="submit" value="submit"/>
        </form>
    </div>

    <div class="title">Model Documentation</div>
    <h3>Structure based (none-docking) AI model</h3>
    <p class="doc">The structure-based AI model was constructed based on GHDDI’s in-house developed HAG-net. The model is universal for all targets with 3D structures. The model was evaluated using the DUD.E benchmark set with an average AUC of 0.99; after removal of computer generated decoys, the model showed an average AUC of 0.94 over 2 million protein-ligand interactions of over 200 protein targets, outperforming state-of-the-art virtual screening tools. Given a target 3D structure, preferably the binding pocket with a radius of 15 Å, and screening library SMILES list as input, we are able to screen 14 million compounds per day on a single GPU, saving over 1000 times of computational cost compared to traditional docking tools. The model output is a probability distribution between 0 and 1 where a predicted value closer to 1 predicts a greater probability of docking.</p>

    {% load static %}
    <img class="" src="{% static "imgs/structure_based_index.png" %}" width="100%">
</div>
{% endblock %}