{% extends "publicTopAndFooter.html" %}
{% block custom-header %}

    {% load plotly_dash%}
    {% plotly_header %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static  "css/index.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static  "css/alert.css" %} ">

    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
{% block content %}
<div class="inner intro">

    <div class="input-area">
        <b class="statement">To find the potential human targets for your compounds:</b>
        <p class="statement">1.	Please paste your SMILES list, Drug Name list or upload a file here. <a href="{% static "file/example.csv" %}" target="_blank" style="text-decoration: underline;color:blue"><span>(example)</span></a>
Each query can handle 100 compounds at most.</p>
        <form  enctype="multipart/form-data" action="service/prediction/submit/" method="post" name="dataForm"
            onsubmit="return checkAllInput()">
            {% csrf_token %}
            {{ inputForm.inputType }}
            {{ inputForm.inputStr }}
            <div class="button-area">
                {{ inputForm.uploadInputFile }}
                <div class="upload" id="inputFileName">Select input file(*.csv,*.xls, *.xlsx)</div>
                <input type="button" id="clear_btn" value="Clear"
                   onclick="this.form.inputStr.value='';
                           this.form.uploadInputFile.outerHTML=this.form.uploadInputFile.outerHTML;
                           document.getElementById('inputFileName').innerText='Select input file(*.csv,*.xls, *.xlsx)';">
                <div class="upload" id="clear_div">Clear</div>
            </div>
            <p class="statement">2. Select 1 or more human target category listed below.</p>
            {{ inputForm.categorys }}
            <p class="statement">3. Select the output report type.</p>
            {{ inputForm.outputType }}
            <input type="submit" value="submit"/>
        </form>
    </div>

    <div class="title">Introduction</div>
    <p class="doc">Ligand graph-based deep learning AI models were batch trained for 3106 human targets using 2.9 million historical biochemical assay data.
    564 predictive models with training size >=200, AuROC>=0.5 were chosen and displayed in this dashboard with their model performance (AuROC), 11 related protein family and 26 associated disease catagories.
    By selecting disease category and protein class, custermized analysis is allowed in this dashboard</p>

    <div class="dashboard-block">
        {%plotly_direct name="LBVS"%}
    </div>
</div>
{% endblock %}
{% block footer %}
{% plotly_footer %}
{% endblock %}