<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deep Molecule Engine</title>
</head>
<body>
    <div class="con">
        <h4>&emsp;文本输入：</h4>
        <form action="{% url 'inputText' %}" method="post">
			{% csrf_token %}
            {{textForm}}
            <input type="submit" value="Submit" />
        </form>
        <hr>
        <h4>&emsp;文件上传：</h4>
        <form enctype="multipart/form-data" action="{% url 'uploadFile' %}" method="post">
			{% csrf_token %}
            {{fileForm}}
            <br>
            <input type="submit" value="upload" />
        </form>
    </div>
</body>
<style>
.con {
    background-color:#f4f4f4;
    width: 1000px;
    margin: auto;
    height: 100%;
    overflow: auto;
}

textarea {
    height: 100%;
    width: 90%;
    margin-left: 5%;
}

input[type="file"] {
    padding-left: 5%;
}
input[type="submit"] {
    padding: 15px 30px;
    margin-top: 30px;
    margin-left: 50px;
}

html {
    height: 100%;
}
body {
    height: 100%;
}
</style>
</html>
